<!DOCTYPE html>
<html>
  <head>
    <title>Swirls</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="counter">
      <%= link_to "Go to Cart", cart_index_path %>
      <% if !session[:temp_cart].nil? %>
        <p>There are <%= session[:temp_cart].length %> items in your cart</p>
      <% else %>
        <p>There are no items in your cart</p>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <%= console %>
</html>
